.meteo-container {
  padding: 20px;
  font-family: Arial;
}

.meteo-container h1 {
  color: #1ba72b;
}

.meteo-container input {
  padding: 8px;
  margin-right: 8px;
}

.meteo-info {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 10px #ccc;
}
